.carousel-inner {
height: 600px;
}

.image{ 
    position: relative; top: -300px; 
  }

  .carousel-caption {
    
    background-color: rgba(236, 236, 0, 0.371);
    font-size: 1.5rem;
    padding: 1rem;
    color: #000;
  }
  