.carousel-caption {
  background-color: rgba(236, 236, 0, 0.371);
  font-size: 1.5rem; 
  padding: 1rem; 
}

.carousel-item {
  height: 600px;
}
.carousel-item img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

form {
  width: 25%;
}