

.carousel-caption {
  background-color: rgba(236, 236, 0, 0.371);
  font-size: 1.5rem; 
  padding: 1rem; 
}

.carousel-inner {
  max-height: 600px;
  object-fit:contain;
  text-align: center center;
  
}

.carousel-item{
  height: 600px;
}